{% extends "base.html" %}

{% block pageContent %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-components-web@11.0.0/dist/material-components-web.min.css">
</div>
<div class="col-4">
 <div class="form-group mb-3">
     </div>
 </div>



<div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
      <div class="mdc-card py-2">
        <h4 class="card-title mb-0">Accounting Periods</h4>


<div class="container-fluid">
  <form action="" id="form">
    <input type="hidden" name="id" >
     <div class="row">
      <div class="col-4">
        <div class="form-group mb-3">
          <label for=" " class="control-label">Period Code</label>
                  <input type="text" name="" id="" placeholder=" " class="form-control form-control-sm rounded-0" value="" required>
              </div>
          </div>
      


          <div class="col-4">
                   <div class="form-group mb-3">
          <label for=" " class="control-label">Period Name</label>
          <input type="text" name="" id="" placeholder=" " class="form-control form-control-sm rounded-0" value="" required>
      </div>
          </div>
      
      

           <div class="col-4">
                      <div class="form-group mb-3">
          <label for=" " class="control-label">Start date</label>
          <input type="date" name=" " id=" " placeholder="" class="form-control form-control-sm rounded-0" value="" required>
      </div>
  
      
          </div>
          <div class="col-4">
                      <div class="form-group mb-3">
          <label for=" " class="control-label">End date</label>
          <input type="date" name="" id="" placeholder="" class="form-control form-control-sm rounded-0" value="" required >
      </div>
          </div>

          <div class="col-4">
                      <div class="form-group mb-3">
          <label for=" " class="control-label">Number of periods</label>
          <input type="number" name="" id=" " class="form-control form-control-sm rounded-0" value="" required>
      </div>

         
  <div class="col-12">
      <div class="form-group mb-3">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary">Cancel</button>
      </div>
  </div>

  </form>
  </div>

{% endblock pageContent %}