{% extends "base.html" %}
{% block pageContent %}

{% if perms.admin%}
{% if perms.bursar%}

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card py-2">
      <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title mb-0">Currency</h4>
           <a class="btn btn-primary bg-gradient btn-sm rounded-0" href="{% url 'Beezfees:revenue_objects' %}"><span>Revenue Objects</span></a>
          <div class="text-start"> <a class="btn btn-primary bg-gradient btn-sm rounded-0" href="{% url 'Beezfees:ordinance' %}"><span>Ordinance</span></a>

          </div>
          
  
          </div>
      </div>
      </div>
  </div>


  <div class="container-fluid">
    <form action="{% url 'Beezfees:currency' %}" id="form" method="post">
        {% csrf_token %}
      <input type="hidden" name="id">
      <div class="row">
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="col_curr_name" class="control-label">Currency Name</label>
            <input type="text" name="col_curr_name" id="col_curr_name" placeholder="Currency Name" class="form-control form-control-sm rounded-0" value=" " required>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="col_curr_code" class="control-label">Currency Code</label>
    <input type="text" name="col_curr_code" id="col_curr_code"placeholder="Currency Code" class="form-control form-control-sm rounded-0" value=" " required>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="col_curr_shortcode" class="control-label">Currency Shortcode</label>
    <input type="text" name="col_curr_shortcode" id="col_curr_shortcode"placeholder="Currency Short code" class="form-control form-control-sm rounded-0" value=" " required>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group mb-3">
            <label for="col_curr_symbol" class="control-label">Currency Symbol</label>
            <input type="text" name="col_curr_symbol" id="col_curr_symbol" placeholder="Currency symbol" class="form-control form-control-sm rounded-0" value="" required>
          </div>
        </div>



        
          <div class="form-group mb-3">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary">Cancel</button>
          </div>


 </form>
    
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Currency List</h4>

            <div class="text-start">
            
            </div>
    
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="example">
                <colgroup>
                    <col width="20%">
                    <col width="40%">
                    <col width="20%">
                    <col width="20%">
                    <col width="40%">
                    <col width="20%">
                    
                </colgroup>
                <thead>
                    <tr>
                      <th class="text-left py-1">Currency Name</th>
                        <th class="text-center py-1">Currency code</th>
                        <th class="text-left py-1">Currency  Shortcode</th>
                        <th class="text-left py-1">Currency Symbol</th>
                       
                
                    </tr>
                </thead>
                <tbody>
                  {% for currency in currency_list%}

                  <tr>
                    <td class="px-2 py-1 text-center">
                      <a href="#" onclick="populateCurrencyInfo('{{currency.col_curr_name }}', '{{ currency.col_curr_shortcode }}', '{{currency.col_curr_symbol}}')">
                          {{  currency.col_curr_name }}
                      </a>
                  </td>
                  <td class="px-2 py-1 text-left">{{ currency.col_curr_code}}</td>
                   
                      <td class="px-2 py-1 text-left">{{currency.col_curr_shortcode}}</td>
                      <td class="px-2 py-1 text-left">{{currency.col_curr_symbol}}</td>
                    </div>
                    
                      
                    </tr>
                    {%endfor%}
                    {%endif%}
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block ScriptBlock %}
<script>
    function populateCurrencyInfo( curNam, curCod,curSymbl) {
        document.getElementById("col_curr_name").value = curNam;
        document.getElementById("col_curr_shortcode").value =curCod;
        document.getElementById("col_curr_symbol").value = curSymbl;

    }
</script>
{% endblock ScriptBlock %}

  
 {% endblock pageContent %}
 