{% extends "base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Exchange Rate</h4>

            <div class="text-start">
                <button class="btn btn-primary bg-gradient btn-sm rounded-0" id="create_new"><i class="mdi mdi-plus"></i><span> Add New</span></button>
            </div>
    
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="example">
                <colgroup>
                    <col width="20%">
                    <col width="40%">
                    <col width="20%">
                    <col width="20%">
                    <col width="40%">
                    <col width="20%">
                    

                </colgroup>
                <thead>
                    <tr>
                        <th class="text-left py-1">Base Currency</th>
                        <th class="text-right py-1">Base Amount</th>
                        <th class="text-left py-1">Destination Currency</th>
                        <th class="text-right py-1">Destination Amount</th>
                        <th class="text-left py-1">Effective date</th>
                        <th class="text-center py-1">Active</th>
                
                    
                
                    </tr>
                </thead>
                <tbody>
                    {% for exchange_rate in exchange_rates %}

                    <tr>
                        <td class="px-2 py-1 text-left">{{exchange_rate.col_base_curr}}</td>
                        <td class="px-2 py-1 text-right">{{exchange_rate.col_base_amount}}</td>
                        <td class="px-2 py-1 text-left">{{exchange_rate.col_destination_curr}}</td>
                        <td class="px-2 py-1 text-right">{{exchange_rate.col_dest_amoun}}</td>
                        <td class="px-2 py-1 text-left">{{exchange_rate.col_effective_date}}</td>
                        <td class="px-2 py-1 text-left">{{exchange_rate.col_active}}</td>

                    
                        
                        </td>
                        {% endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    
{% endblock ScriptBlock %}