{% extends "base.html" %} {% block pageContent %}





<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Ordinance Details</h4>

            <div class="text-start">
                <button class="btn btn-primary bg-gradient btn-sm rounded-0" id="create_new"><i class="mdi mdi-plus"></i><span> Add New</span></button>
            </div>
    
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="example">
                <colgroup>
                    <col width="20%">
                    <col width="40%">
                    <col width="20%">
                    
                    

                </colgroup>
                <thead>
                    <tr>
                        <th class="text-left py-1">Ordinance code</th>
                        <th class="text-left py-1">Ordinance Name</th>
                        <th class="text-left py-1">Date registered</th>
                        
                        
                
                    </tr>
                </thead>
                <tbody>
                    {% for ordinance_detail in ordinance_details %}
                    <tr>
                        <td class="px-2 py-1 text-left">{{ ordinance_detail.col_ordinance_code}}</td>
                        <td class="px-2 py-1 text-left">{{ ordinance_detail.col_ordinance_name }}</td>
                        <td class="px-2 py-1 text-left">{{ ordinance_detail.col_effective }}</td>
                    

                    </tr>
                    {%endfor%}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    
{% endblock ScriptBlock %}