{% extends "base.html" %}
{% load static %}



{% block pageContent %}
<style>
    #uni_modal .modal-footer {
        display: none;
    }

    body {
        font-family: Arial, sans-serif;
    }

    #outprint {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .school-name {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .details {
        text-align: left;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .customer-details {
        text-align: right;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 50px;
    }
   
    .total {
        text-align: right;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px
    }
    .mdc-data-table__header-row {
        background-color: #eceff1;
    }

    .mdc-data-table__row:nth-child(even) {
        line-height: 0.0001;
        height:0.1px;
    }

    .mdc-data-table__row:nth-child(odd) {
        line-height: 0.0001;
        height:0.3px;
    }

    .mdc-data-table__row:hover {
        background-color: #e0e0e0;
    }
    button#invoice_print {
        padding: 10px 20px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    button#invoice_print:hover {
        background-color: #45a049;
    }
      
        .company-logo img {
            max-width: 150px;
            height: auto;
        }
    </style>
    
</div>
<div id="outprint">
    
<div class="mdc-card mdc-card--outlined mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-sm- mdc-layout-grid__cell--span-md-8 mt-5" id="GFG">
    <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-sm-10 mdc-layout-grid__cell--span-md-12 border-b">


        <div id="outprint">
            <div class="company-logo">
                <center> <img src="{% static 'Wisedell.png' %}" alt="Company Logo">
            </div>
    <div class="school-name"><b>{{ consolidated_invoice.header.col_co_name }}<b></br>

    <div class="school-name"><i>{{ consolidated_invoice.company.col_co_email_add}}</i></br>
    <div class="school-name">{{ consolidated_invoice.company.col_co_telephone}}</br>
    <div class="school-name">{{ consolidated_invoice.company.col_co_phy_address}}</br>
    </div>

<hr>
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-12">
                        <div class="mdc-typography--subtitle2">Bill To:</div>
                        
                        {% for cust_no, cust_info in consolidated_invoice.customer.items %}
                        <div class="details">{{ cust_no }}</br>
                            <div class="details"="fw-bold">{{ cust_info.first_name }} {{ cust_info.last_name }}</br>
                            <div class="details">{{ cust_info.email }}</br>
                                <div class="details">{{ cust_info.address }}</br>
                                <div class="details">{{ cust_info.phone }}</br>
                    {% endfor %}
                
                    <div class="customer-details ">Invoice Number:  {{ consolidated_invoice.header.col_inv_no }}</br>
                    <div class="customer-details ">Invoice Date:    {{ consolidated_invoice.header.col_inv_date}}</br>
                    <div class="customer-details "> Due Date:        {{ consolidated_invoice.header.col_due_date}}</div>

                    <hr>
    
    <table>
            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                
            </colgroup>
        <thead>
            <div class="d-flex w-100 align-items-end border-bottom">
            <trclass="mdc-data-table__header-row">
                <th class="text-left py-1">Quantity</th>
                <th class="text-left py-1">Description</th>
                <th class="text-left py-1">Unit Price</th>
                <th class="text-left py-1">Amount</th>
            </tr>
            <div class="d-flex w-100 align-items-end border-bottom">
        </thead>
        <tbody>
            {% for detail in consolidated_invoice.details %}
            <tr>
                <td class="px-2 py-1 text-left">{{ detail.col_quantity }}</td>
                <td class="px-2 py-1 text-left">{{ detail.col_revenue_name }}</td>
                <td class="px-2 py-1 text-left">{{ detail.col_fee_amount }}</td>
                <td class="px-2 py-1 text-left">{{ detail.col_line_total }}</td>
            </tr>
            
            {% endfor %}
            
        </tbody>
    </table>
    <div class="total "> TOTAL:<b> ${{ consolidated_invoice.header.col_inv_total}}<b></br>
</div>
</div>
</div>
</div>

<footer>
    <b>Nostrol Account:<br>
    FBC Masvingo Branch: 1155 1341 42023</b>
                   
</footer>

<button id="invoice_print">Print Invoice</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
<script>
    $(function() {
        $('#invoice_print').click(function() {
            var head = $('head').clone();
            var content = $('#GFG').clone();
            var el = $("<div>");
            head.append('<style>body{background-color:unset !important}</style>');
            el.append(head);
            el.find('title').text("Invoice - Print View");
            el.append(content);
            start_loader();
            var nw = window.open('', '_blank', "width=800,height=800,left=300,top=200");
            nw.document.write(el.html());
            nw.document.close();
            setTimeout(() => {
                nw.print();
                setTimeout(() => {
                    nw.close();
                    end_loader();
                }, 100);
            }, 150);
        });

    });
</script>


{% endblock  %}
