{% extends "base.html" %} {% block pageContent %}


<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Revenue Structure List</h4>

            <div class="text-start">
                <button class="btn btn-primary bg-gradient btn-sm rounded-0" id="create_new"><i class="mdi mdi-plus"></i><span> Add New</span></button>
            </div>
    
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="example">
                <colgroup>
                    <col width="20%">
                    <col width="40%">
                    <col width="20%">
                    <col width="20%">
                    <col width="40%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">Ref Id</th>
                        <th class="text-center py-1">Session ID</th>
                        <th class="text-center py-1">Group Code</th>
                        <th class="text-center py-1">Ordinance Code</th>
                        <th class="text-center py-1">Currency Code</th>
                        <th class="text-center py-1">Revenue Code</th>
                        <th class="text-right py-1">Fee Amount</th>
                
                    </tr>
                </thead>
                <tbody>
                    {% for revenue_structure in revenue_structure_list %}
                        <tr>
                            <td class="px-2 py-1 text-center">{{ revenue_structure.col_ref_id }}</td>
                            <td class="px-2 py-1 text-center">{{ revenue_structure.col_session_id }}</td>
                            <td class="px-2 py-1 text-center">{{ revenue_structure.col_group_code }}</td>
                            <td class="px-2 py-1 text-center">{{ revenue_structure.col_ordinance_code }}</td>
                            <td class="px-2 py-1 text-center">{{ revenue_structure.col_curr_code }}</td>
                            <td class="px-2 py-1 text-center">{{ revenue_structure.col_revenue_code }}</td>
                            <td class="px-2 py-1 text-right">{{ revenue_structure.col_fee_amount }}</td>
                            
                            </td>
                        </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    
{% endblock ScriptBlock %}