{% extends "base.html" %}
{% block pageContent %}

</div>
<div class="col-8">
  <div class="form-group mb-3">
  </div>
</div>


<div class="mdc-layout-grid__inner">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
      <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title mb-0">Levels</h4>
          <div class="text-start"> <a class="btn btn-primary bg-gradient btn-sm rounded-0" href="{% url 'Beezfees:save_grades' %}"><span>Grades</span></a></div>
           
          <div class="text-start"> <a class="btn btn-primary bg-gradient btn-sm rounded-0" href="{% url 'Beezfees:save_classes' %}"><span>Classes</span></a>

          </div>
          
  
          </div>
      </div>
      </div>
  </div>        
   
<div class="container-fluid">
  <form action="{% url 'Beezfees:save_levels' %}" id="form" method="post">
    {% csrf_token %}
    <input type="hidden" name="id">
    <div class="row">
    <div class="col-2">
        <div class="form-group mb-3">
          <label for="col_grade" class="control-label">Level name</label>
          <input type="text" name="col_grade" id="col_grade" placeholder=" " class="form-control form-control-sm rounded-0" value="" required>
        </div>
      </div>

      <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
      </div>
    </div>
  </form>

  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-14">
    <div class="mdc-card">
      <div class="table-responsive">
        <table class="table table-striped table-bordered" id="example">
          <colgroup>
           
            <col width="20%">
            <col width="20%">
          </colgroup>
          <thead>
            <tr>
              <th class="text-center py-1">Level Code</th>
              <th class="text-left py-1">Level Name</th>
            </tr>
          </thead>
          <tbody>
            {% for grade in grades %}
            <tr>
              <td class="px-2 py-1 text-center">
                <a href="#" onclick="populateSessionInfo('{{ grade.col_grade_id }}','{{ grade.col_grade }}')">
                  {{ grade.col_grade_id }}
                </a>
              </td>
              <td class="px-2 py-1 text-left">{{ grade.col_grade }}</td>
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock pageContent %}

{% block ScriptBlock %}
<script>
  function populateSessionInfo(gradeId, grade) {
    document.getElementById("col_grade_id").value = gradeId;
    document.getElementById("col_grade").value = grade;
  }
</script>
{% endblock ScriptBlock %}
